<a href="https://colab.research.google.com/github/sundar-nallalagappan/Coursera_NLP_assignments/blob/main/IMDB_Lstm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("sairam")

sairam

Implement the IMDB use case using Bi-directional LSTM

In [3]:
import tensorflow as tf
from tensorflow import keras

from keras.layers import Dense, Flatten, GlobalAveragePooling1D, LSTM, Bidirectional, Embedding
from keras.models import Sequential

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

import tensorflow_datasets as tfds

# Load data

In [4]:
imdb, info = tfds.load("imdb_reviews/subwords8k", with_info=True, as_supervised=True)
imdb

WARNING:absl:TFDS datasets with text encoding are deprecated and will be removed in a future version. Instead, you should use the plain text version and tokenize the text using `tensorflow_text` (See: https://www.tensorflow.org/tutorials/tensorflow_text/intro#tfdata_example)

{'train': <_PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.int64, name=None), TensorSpec(shape=(), dtype=tf.int64, name=None))>,
 'test': <_PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.int64, name=None), TensorSpec(shape=(), dtype=tf.int64, name=None))>,
 'unsupervised': <_PrefetchDataset element_spec=(TensorSpec(shape=(None,), dtype=tf.int64, name=None), TensorSpec(shape=(), dtype=tf.int64, name=None))>}

In [5]:
tokenizer_subwords = info.features['text'].encoder

In [6]:
train, test = imdb['train'], imdb['test']

for row in train:
  print(row)
  break

for row in test:
  print(row)
  break

(<tf.Tensor: shape=(163,), dtype=int64, numpy=
array([  62,   18,   41,  604,  927,   65,    3,  644, 7968,   21,   35,
       5096,   36,   11,   43, 2948, 5240,  102,   50,  681, 7862, 1244,
          3, 3266,   29,  122,  640,    2,   26,   14,  279,  438,   35,
         79,  349,  384,   11, 1991,    3,  492,   79,  122,  188,  117,
         33, 4047, 4531,   14,   65, 7968,    8, 1819, 3947,    3,   62,
         27,    9,   41,  577, 5044, 2629, 2552, 7193, 7961, 3642,    3,
         19,  107, 3903,  225,   85,  198,   72,    1, 1512,  738, 2347,
        102, 6245,    8,   85,  308,   79, 6936, 7961,   23, 4981, 8044,
          3, 6429, 7961, 1141, 1335, 1848, 4848,   55, 3601, 4217, 8050,
          2,    5,   59, 3831, 1484, 8040, 7974,  174, 5773,   22, 5240,
        102,   18,  247,   26,    4, 3903, 1612, 3902,  291,   11,    4,
         27,   13,   18, 4092, 4008, 7961,    6,  119,  213, 2774,    3,
         12,  258, 2306,   13,   91,   29,  171,   52,  229,    2, 1245,
       5790,  995, 7968,    8,   52, 2948, 5240, 8039, 7968,    8,   74,
       1249,    3,   12,  117, 2438, 1369,  192,   39, 7975])>, <tf.Tensor: shape=(), dtype=int64, numpy=0>)
(<tf.Tensor: shape=(283,), dtype=int64, numpy=
array([ 173,   29,  185,   13,  115, 1956, 8044,    3,  398, 1261, 5497,
        423,    2,   15,   18, 4096, 3958,  637, 2657,  552, 2893, 4926,
       2314, 1673, 4587,  137,   23, 4872, 5345,    2, 7996, 7277, 8004,
       8012,  137,   23,  972, 5346, 5977, 1365, 8051,    2, 7998, 3780,
       1947, 1747, 4411, 3743,    3, 5064, 7961,    7,   13, 2671, 4556,
       3449, 1678,  572, 8037, 7968,    8,  604, 1006, 4002, 2618, 7974,
       7994, 7974, 2893, 2618, 7974, 2475, 3912,    3, 4847, 2034, 2615,
         66, 7974, 3201,    2,    5,   20, 1668, 5475, 7961,    5,   20,
       4474,   20,  119,    6,    1, 2489, 1473, 1960,  323,    3,   12,
       1167, 7968,   21, 4101,   14,  366,  342,   12,  284,  552, 7999,
       4949, 3780, 3779, 3369, 8018,  625, 1979,    2,   78, 1259,    2,
         12,  109, 7968,   21,  129,   12, 4101,  236,   14, 1682,  230,
        392,    7, 4980, 1079, 1678,  572, 8037, 7968,    8, 1712,    9,
       5795,  535,  106, 4002, 2618, 7974, 7994, 7974, 2893, 2618, 7974,
       2475, 3912, 7961,    9,   55, 1296,  488,  569,    6, 5852, 1125,
        272, 2148, 7961,   13,   45,   70,   31,    7, 1369,  267,   22,
          4, 2346,    6,   14,  397,    5,  110,    4,  918, 7974, 1134,
       7974,  557, 7716,  452,    6,   15,    7,  765, 2284,  181,    2,
       8046, 8033,    2, 2144, 1077,  395,    5, 1060, 8029,  395,    6,
         39,    3, 2478,  516,    9, 3499, 5991, 8029,   28,    4, 1250,
       6148,    6,    4, 2479, 7974, 5884, 7961,  575,  152,    5,    1,
        695,   51,  268,   29, 6749, 8029,   28,  224, 7968,    8, 1400,
          6,    1,  362, 7974,  181, 7974,  609, 5353,  923, 2117,   45,
       7399, 2331, 7968,  123, 1974,   48,    4,   32,   52,  229,  158,
       4002, 2618, 7974, 7994, 7974, 2893, 2618, 7974, 2475, 3912, 7961,
          9,    4,   32,  901,  101,   57, 1868, 7975])>, <tf.Tensor: shape=(), dtype=int64, numpy=1>)

In [7]:
for row in train:
  print(tokenizer_subwords.decode(row[0]))
  break

This was an absolutely terrible movie. Don't be lured in by Christopher Walken or Michael Ironside. Both are great actors, but this must simply be their worst role in history. Even their great acting could not redeem this movie's ridiculous storyline. This movie is an early nineties US propaganda piece. The most pathetic scenes were those when the Columbian rebels were making their cases for revolutions. Maria Conchita Alonso appeared phony, and her pseudo-love affair with Walken was nothing but a pathetic emotional plug in a movie that was devoid of any real meaning. I am disappointed that there are movies like this, ruining actor's like Christopher Walken's good name. I could barely sit through it.

* padded_batch function - will padd the sequences and also put them in requested batches

In [8]:
BUFFER_SIZE = 1000
BATCH_SIZE  = 256

train_dataset = train.shuffle(BUFFER_SIZE)

train_dataset = train.padded_batch(BATCH_SIZE)
test_dataset  = test.padded_batch(BATCH_SIZE)

In [9]:
for idx, i in enumerate(train_dataset):
  print(idx)
  if idx < 4:
    print(i[0])
    print(i[0].shape)
  else:
    break

0
tf.Tensor(
[[  62   18   41 ...    0    0    0]
 [  12   31   93 ...    0    0    0]
 [ 636  102 4714 ...    0    0    0]
 ...
 [  19   77  457 ...    0    0    0]
 [5440  131 5617 ...    0    0    0]
 [3475  456  143 ...    0    0    0]], shape=(256, 1179), dtype=int64)
(256, 1179)
1
tf.Tensor(
[[  19   27   18 ...    0    0    0]
 [7914    4 3572 ...    0    0    0]
 [ 133 2690 1083 ...    0    0    0]
 ...
 [1987    2   14 ...    0    0    0]
 [ 156   37  239 ...    0    0    0]
 [1097 3837 7961 ...    0    0    0]], shape=(256, 1615), dtype=int64)
(256, 1615)
2
tf.Tensor(
[[  19   32 1422 ...    0    0    0]
 [  12  988 1415 ...    0    0    0]
 [3209 1493    5 ...    0    0    0]
 ...
 [7627   20  979 ...    0    0    0]
 [  12  800  359 ...    0    0    0]
 [  12   31   33 ...    0    0    0]], shape=(256, 1485), dtype=int64)
(256, 1485)
3
tf.Tensor(
[[4878 1624    4 ...    0    0    0]
 [  12 3059 5086 ...    0    0    0]
 [ 699 3320  319 ...    0    0    0]
 ...
 [  12  772 2135 ...    0    0    0]
 [  62   18  273 ...    0    0    0]
 [ 713 7053 7961 ...    0    0    0]], shape=(256, 1470), dtype=int64)
(256, 1470)
4

In [10]:
i[0][0].numpy().shape

(1497,)

In [11]:
i[0].numpy().shape

(256, 1497)

* Not clear for me, when we apply padded_batch, the length is varying then how come it is accepted by NN

# Build & compile model

In [12]:
tokenizer_subwords.vocab_size

8185

In [13]:
EMBED_SIZE=64

In [13]:
model = Sequential([
    Embedding(tokenizer_subwords.vocab_size, EMBED_SIZE),
    Bidirectional(LSTM(64)),
    Dense(64, "relu"),
    Dense(1, "sigmoid")
])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 64)          523840

 bidirectional (Bidirectiona  (None, 128)              66048
 l)

 dense (Dense)               (None, 64)                8256

 dense_1 (Dense)             (None, 1)                 65

=================================================================
Total params: 598,209
Trainable params: 598,209
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

In [15]:
model.fit(train_dataset, validation_data=test_dataset, epochs=10)

Epoch 1/10
98/98 [==============================] - 52s 438ms/step - loss: 0.6401 - accuracy: 0.6234 - val_loss: 0.4556 - val_accuracy: 0.7892
Epoch 2/10
98/98 [==============================] - 20s 206ms/step - loss: 0.3635 - accuracy: 0.8448 - val_loss: 0.4183 - val_accuracy: 0.8169
Epoch 3/10
98/98 [==============================] - 20s 207ms/step - loss: 0.2842 - accuracy: 0.8870 - val_loss: 0.4472 - val_accuracy: 0.8320
Epoch 4/10
98/98 [==============================] - 21s 213ms/step - loss: 0.2478 - accuracy: 0.9059 - val_loss: 0.4709 - val_accuracy: 0.8378
Epoch 5/10
98/98 [==============================] - 25s 260ms/step - loss: 0.2175 - accuracy: 0.9182 - val_loss: 0.5031 - val_accuracy: 0.8163
Epoch 6/10
98/98 [==============================] - 21s 213ms/step - loss: 0.2051 - accuracy: 0.9225 - val_loss: 0.5988 - val_accuracy: 0.7726
Epoch 7/10
98/98 [==============================] - 21s 211ms/step - loss: 0.1701 - accuracy: 0.9366 - val_loss: 0.5719 - val_accuracy: 0.8070
Epoch 8/10
98/98 [==============================] - 21s 211ms/step - loss: 0.1548 - accuracy: 0.9449 - val_loss: 0.6137 - val_accuracy: 0.8132
Epoch 9/10
98/98 [==============================] - 21s 211ms/step - loss: 0.1478 - accuracy: 0.9475 - val_loss: 0.6622 - val_accuracy: 0.8178
Epoch 10/10
98/98 [==============================] - 21s 209ms/step - loss: 0.1322 - accuracy: 0.9544 - val_loss: 0.7064 - val_accuracy: 0.8192

In [14]:
train_sentences = []
train_labels    = []

test_sentences  = []
test_labels     = []

for row in train:
  train_sentences.append(row[0].numpy())
  train_labels.append(row[1].numpy())


for row in test:
  test_sentences.append(row[0].numpy())
  test_labels.append(row[1].numpy())

In [15]:
train_sentences[0]

array([  62,   18,   41,  604,  927,   65,    3,  644, 7968,   21,   35,
       5096,   36,   11,   43, 2948, 5240,  102,   50,  681, 7862, 1244,
          3, 3266,   29,  122,  640,    2,   26,   14,  279,  438,   35,
         79,  349,  384,   11, 1991,    3,  492,   79,  122,  188,  117,
         33, 4047, 4531,   14,   65, 7968,    8, 1819, 3947,    3,   62,
         27,    9,   41,  577, 5044, 2629, 2552, 7193, 7961, 3642,    3,
         19,  107, 3903,  225,   85,  198,   72,    1, 1512,  738, 2347,
        102, 6245,    8,   85,  308,   79, 6936, 7961,   23, 4981, 8044,
          3, 6429, 7961, 1141, 1335, 1848, 4848,   55, 3601, 4217, 8050,
          2,    5,   59, 3831, 1484, 8040, 7974,  174, 5773,   22, 5240,
        102,   18,  247,   26,    4, 3903, 1612, 3902,  291,   11,    4,
         27,   13,   18, 4092, 4008, 7961,    6,  119,  213, 2774,    3,
         12,  258, 2306,   13,   91,   29,  171,   52,  229,    2, 1245,
       5790,  995, 7968,    8,   52, 2948, 5240, 8039, 7968,    8,   74,
       1249,    3,   12,  117, 2438, 1369,  192,   39, 7975])

In [16]:
print(type(train_sentences), type(train_sentences[0]))

<class 'list'> <class 'numpy.ndarray'>

In [17]:
train_sentences[1]

array([  12,   31,   93,  867,    7, 1256, 6585, 7961,  421,  365,    2,
         26,   14,    9,  988, 1089,    7,    4, 6728,    6,  276, 5760,
       2587,    2,   81, 6118, 8029,    2,  139, 1892, 7961,    5, 5402,
        246,   25,    1, 1771,  350,    5,  369,   56, 5397,  102,    4,
       2547,    3, 4001,   25,   14, 7822,  209,   12, 3531, 6585, 7961,
         99,    1,   32,   18, 4762,    3,   19,  184, 3223,   18, 5855,
       1045,    3, 4232, 3337,   64, 1347,    5, 1190,    3, 4459,    8,
        614,    7, 3129,    2,   26,   22,   84, 7020,    6,   71,   18,
       4924, 1160,  161,   50, 2265,    3,   12, 3983,    2,   12,  264,
         31, 2545,  261,    6,    1,   66,    2,   26,  131,  393,    1,
       5846,    6,   15,    5,  473,   56,  614,    7, 1470,    6,  116,
        285, 4755, 2088, 7961,  273,  119,  213, 3414, 7961,   23,  332,
       1019,    3,   12, 7667,  505,   14,   32,   44,  208, 7975])

In [18]:
type(train_labels)

list

In [ ]:
train_labels

In [20]:
#train_sentences_fin = np.array(train_sentences)
#test_sentences_fin  = np.array(test_sentences)

#train_labels_fin = np.array(train_labels)
#test_labels_fin  = np.array(test_labels)

In [32]:
from tensorflow.keras.utils import pad_sequences
train_padded = pad_sequences(train_sentences, maxlen=1500, padding="post", truncating="post")
test_padded  = pad_sequences(test_sentences, maxlen=1500, padding="post", truncating="post")

In [33]:
train_padded.shape

(25000, 1500)

In [34]:
len(train_padded[0]), len(train_padded[1])

(1500, 1500)

In [35]:
model = Sequential([
    Embedding(tokenizer_subwords.vocab_size, EMBED_SIZE),
    Bidirectional(LSTM(64)),
    Dense(64, "relu"),
    Dense(1, "sigmoid")
])

model.summary()

model.compile(loss="binary_crossentropy", optimizer="adam", metrics=['accuracy'])

model.fit(train_padded, np.array(train_labels), validation_data=(test_padded, np.array(test_labels)), epochs=10, batch_size=256)

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, None, 64)          523840

 bidirectional_4 (Bidirectio  (None, 128)              66048
 nal)

 dense_8 (Dense)             (None, 64)                8256

 dense_9 (Dense)             (None, 1)                 65

=================================================================
Total params: 598,209
Trainable params: 598,209
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10
98/98 [==============================] - 35s 320ms/step - loss: 0.5811 - accuracy: 0.6817 - val_loss: 0.4475 - val_accuracy: 0.8153
Epoch 2/10
98/98 [==============================] - 33s 340ms/step - loss: 0.3571 - accuracy: 0.8563 - val_loss: 0.4377 - val_accuracy: 0.8078
Epoch 3/10
98/98 [==============================] - 25s 254ms/step - loss: 0.2793 - accuracy: 0.8948 - val_loss: 0.4146 - val_accuracy: 0.8290
Epoch 4/10
98/98 [==============================] - 24s 243ms/step - loss: 0.2426 - accuracy: 0.9108 - val_loss: 0.4076 - val_accuracy: 0.8373
Epoch 5/10
98/98 [==============================] - 23s 233ms/step - loss: 0.1966 - accuracy: 0.9285 - val_loss: 0.4215 - val_accuracy: 0.8218
Epoch 6/10
98/98 [==============================] - 22s 219ms/step - loss: 0.1662 - accuracy: 0.9430 - val_loss: 0.4317 - val_accuracy: 0.8452
Epoch 7/10
98/98 [==============================] - 21s 211ms/step - loss: 0.1483 - accuracy: 0.9480 - val_loss: 0.5833 - val_accuracy: 0.7378
Epoch 8/10
98/98 [==============================] - 21s 215ms/step - loss: 0.1659 - accuracy: 0.9389 - val_loss: 0.5217 - val_accuracy: 0.8206
Epoch 9/10
98/98 [==============================] - 21s 212ms/step - loss: 0.1092 - accuracy: 0.9628 - val_loss: 0.5368 - val_accuracy: 0.8241
Epoch 10/10
98/98 [==============================] - 20s 208ms/step - loss: 0.1040 - accuracy: 0.9652 - val_loss: 0.5927 - val_accuracy: 0.8208